<nav class="navbar navbar-light navbar-expand-lg">

    <img class="logonav" style="width: 30% ;" src="assets/image/text-mario.png" alt="">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="assets/image/icon-responsive.jpg" alt=""></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar nav" style="margin-left: 40%;">
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Roboto', sans-serif;" href="/#sobre-mim">Sobre mim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Roboto', sans-serif;" href="/#habilidades">Habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Roboto', sans-serif;" href="/#projetos">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-family: 'Roboto', sans-serif;" href="/#contato" >Contato</a>
            </li>
        </ul>
    </div>
    
</nav>