<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <main>
     
      <a href="https://mywhats.net/brune"> <img class="whatsapp" id="img" src="assets/image/whatsapp.png" alt=""></a>

        <div class="profile">
            <div class="profile-text" id="desktop">
                    
                
                <p>Bem vindo, eu sou</p>
                <div class="title">
                    <p class="title-name"><b>Gabriel Brune</b><img src="assets/gifs/hulk.gif" alt="" srcset=""> </p>
                    <!-- <img src="images/icons/pixels/animated/gustavo_jedi_saudacoes.gif" alt="Gabriel Saudações"> -->
                </div>
                <p id="title" class="title-text" value="Software Developer - Web Developer">Sou desenvolvedor Web Junior, fique a vontade em meu portfólio </p>
              
                <a href="https://github.com/Gabriel52" class="btns">
                    <button  type="button" class="efeito efeito-1">Git Hub</button>
                </a>
            </div>
            <div class="profile-img">
                <img class="my-skin" src="assets/image/perfil.jpg" alt="Gustavo Felipe">
                <div class="icons-profile">
                    <img src="assets/gifs/headphone.gif" alt="icon-animated">
                    <img src="assets/gifs/coffee.gif" alt="icon-animated">
                    <img src="assets/gifs/terminal.gif" alt="icon-animated">
                </div>
                </div>
            </div>
            
            <div class="profile-text" id="mobile">
                <p>Bem vindo, eu sou</p>
                <div class="title">
                    <p class="title-name"><b>Gabriel Brune</b><img src="assets/gifs/hulk.gif" alt="" srcset=""> </p>
                    <!-- <img src="images/icons/pixels/animated/gustavo_jedi_saudacoes.gif" alt="Gabriel Saudações"> -->
                </div>
                <p id="title-mobile" class="title-text" value="Software Developer - Web Developer">Sou desenvolvedor Full-Stack Júnior, fique a vontade em meu portfólio </p>
                <!-- <a class="button-github" href="https://github.com/Gabriel52/" target="_blank">
                    GitHub
                </a> -->
                <div class="btns">
                    <button type="button" class="efeito efeito-1">Git Hub</button>
                </div>
            </div>
        </div>
        <!-- Sobre mim -->

        <div class="sobre-mim">
            <div class="cabecalho" id="sobre-mim">
                <h1>Sobre mim</h1>


                <svg
                class="waves"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20962 10601"
              >
                <path
                  class="wave-1"
                  fill="#43818A"
                  d="M27489 8635c504 1667 831 3818-27 5680s-2901 3434-6193 3904-7834-161-12155-589c-4321-427-8421-649-10976-1537-2555-889-3565-2443-4071-4061-505-1619-505-3302 938-4835 1442-1533 4327-2916 6274-3122s2958 764 3877 1522 1746 1304 2738 1382 2148-312 2976-730 1327-864 2136-1014c810-151 1929-6 2757 206s1363 490 1978 775c614 284 1308 574 1947 535s1223-407 1935-875c712-469 1552-1037 2240-1266 688-228 1223-117 1832 530 608 646 1290 1828 1794 3495z"
                />
        
                <path
                  class="wave-2"
                  fill="#57A7B3"
                  d="M25681 10400c-171 822-305 1990-646 3115-341 1124-889 2206-1856 2808-968 602-2355 724-4668 1064s-5550 898-8520 987-5672-290-9037-859c-3366-568-7394-1326-9403-2118-2008-791-1996-1616-1892-3305 103-1689 298-4242 1412-5731 1113-1488 3146-1912 4953-1627 1808 284 3390 1276 4522 1878s1814 814 2423 552 1145-998 2333-1388c1187-389 3025-432 4266 275 1240 707 1884 2164 2861 2407 976 244 2285-726 3493-1308 1209-581 2316-775 3731-567 1415 207 3137 815 4290 1221 1153 407 1737 612 1926 953 189 342-18 820-188 1643z"
                />
        
                <path
                  class="wave-3"
                  fill="#66C3D0"
                  d="M30706 11822c-291 731-653 1801-1548 2972-895 1170-2321 2441-4988 3026-2667 586-6574 485-10469 541s-7778 268-10906-256-5501-1784-6906-3382c-1404-1598-1840-3533-1957-4910-118-1377 82-2195 1029-2854 946-659 2637-1158 4033-1002s2495 968 3440 1630 1737 1175 2905 1086c1169-89 2714-780 3810-1332 1095-552 1740-965 2665-820s2130 848 3110 1360c980 513 1734 837 2458 672s1416-819 2179-1050 1597-40 3058 269c1461 310 3550 739 5069 1177 1519 437 2469 883 2998 1112 529 228 639 240 584 440-55 201-274 591-564 1321z"
                />
              </svg>


            </div>
            <section id="sobre-mim">
                <div class="content">
                    <div class="jumbotron">
                      <p>Tenho 19 anos, me formei em 2020 em técnico de sistema da informação pela Etec de Embu. Dentro da Etec eu desenvolvi habilidades  em levantamento de requisitos, métodos ágeis (SCRUM, Waterfall Model, Kanban), minha stack é Node js e React js. Atualmente ingressei na faculdade Anhembi Morumbi.</p><br>
                      <p>Em meu tempo livre gosto de praticar natação, jogar futebol e ler.</p>
                    </div>
                </div>
            </section>
        </div>

    <!-- Habilidades -->
    <div class="titles" id="habilidades">
      <h1 class="title-main" >Habilidades</h1>
    </div>
    <div id="habilidades" class="col" style="margin-bottom: 2rem;">
        <div class="card bg-white">
          <h3 class="ml-3 my-3">Java</h3>
          <div class="progress mx-3">
            <div class="progress-bar" style="width: 50%; background-color: #66c3d0;">70%</div>
          </div>
          
          <h3 class="ml-3 my-3">JavaScript</h3>
          <div class="progress mx-3">
            <div class="progress-bar" style="width: 85%; background-color: #66c3d0;">85%</div>
          </div>
          

          <h3 class="ml-3 my-3">NodeJS</h3>
          <div class="progress mx-3">
            <div class="progress-bar" style="width: 70%; background-color: #66c3d0;">70%</div>
          </div>
          <h3 class="ml-3 my-3">ReactJS</h3>
          <div class="progress mx-3">
            <div class="progress-bar" style="width: 50%;background-color: #66c3d0; ">50%</div>
          </div>
          <h3 class="ml-3 my-3">MongoDB</h3>
          <div class="progress mx-3">
            <div class="progress-bar " style="width: 50%; background-color: #66c3d0;">50%</div>
          </div>
          <div class="mb-5">
            <h3 class="ml-3 my-3">MySQl</h3>
            <div class="progress mx-3 ">
              <div class="progress-bar" style="width: 80%; background-color: #66c3d0;">80%</div>
            </div>
          </div>
        </div>
      </div>


    <!-- Projetos -->
    <div class="sobre-mim">
      <div class="cabecalho" id="sobre-mim">
          <h1>Projetos</h1>
          <svg
          class="waves"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20962 10601"
        >
          <path
            class="wave-1"
            fill="#43818A"
            d="M27489 8635c504 1667 831 3818-27 5680s-2901 3434-6193 3904-7834-161-12155-589c-4321-427-8421-649-10976-1537-2555-889-3565-2443-4071-4061-505-1619-505-3302 938-4835 1442-1533 4327-2916 6274-3122s2958 764 3877 1522 1746 1304 2738 1382 2148-312 2976-730 1327-864 2136-1014c810-151 1929-6 2757 206s1363 490 1978 775c614 284 1308 574 1947 535s1223-407 1935-875c712-469 1552-1037 2240-1266 688-228 1223-117 1832 530 608 646 1290 1828 1794 3495z"
          />
  
          <path
            class="wave-2"
            fill="#57A7B3"
            d="M25681 10400c-171 822-305 1990-646 3115-341 1124-889 2206-1856 2808-968 602-2355 724-4668 1064s-5550 898-8520 987-5672-290-9037-859c-3366-568-7394-1326-9403-2118-2008-791-1996-1616-1892-3305 103-1689 298-4242 1412-5731 1113-1488 3146-1912 4953-1627 1808 284 3390 1276 4522 1878s1814 814 2423 552 1145-998 2333-1388c1187-389 3025-432 4266 275 1240 707 1884 2164 2861 2407 976 244 2285-726 3493-1308 1209-581 2316-775 3731-567 1415 207 3137 815 4290 1221 1153 407 1737 612 1926 953 189 342-18 820-188 1643z"
          />
  
          <path
            class="wave-3"
            fill="#66C3D0"
            d="M30706 11822c-291 731-653 1801-1548 2972-895 1170-2321 2441-4988 3026-2667 586-6574 485-10469 541s-7778 268-10906-256-5501-1784-6906-3382c-1404-1598-1840-3533-1957-4910-118-1377 82-2195 1029-2854 946-659 2637-1158 4033-1002s2495 968 3440 1630 1737 1175 2905 1086c1169-89 2714-780 3810-1332 1095-552 1740-965 2665-820s2130 848 3110 1360c980 513 1734 837 2458 672s1416-819 2179-1050 1597-40 3058 269c1461 310 3550 739 5069 1177 1519 437 2469 883 2998 1112 529 228 639 240 584 440-55 201-274 591-564 1321z"
          />
        </svg>


      </div>
      <section id="projetos">
          <div class=" content">
            <div class="card mb-3">
              <img class="img-projetos" src="assets/gifs/landingPage.gif" style="width: 59vw;height: 21vw;" alt="">
              <div class="card-body">
                <h5 class="card-title"><b>Blog GuiaPress</b></h5>
                <p class="card-text">💡 O GuiaPress é uma plataforma que foi criado como uma pagina de busca para conteúdos educacionais. Aqui você pode encontrar o trabalho de escola, artigos, atividades infantis entre outras coisas.</p>
                <p class="card-text"><small class="text-muted">Projeto Pessoal</small></p>
                
                <div id="btn" class="btn-group" style="margin-left: 3%;">
                  <a class="btn-projetos" target="_blank"  href="https://github.com/Gabriel52/Blog-GuiaPress" id="btn-night"  type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img style="padding: 0.5rem; width: 50%;" src="assets/image/github.png" alt="Git"></font></font></a>
                  <a class="btn-projetos" target="_blank" href="http://blog-guiapress-com-br.umbler.net/" id="btn-light" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img style="padding: 0.5rem; width: 50%;" src="assets/image/global.png" alt="Site"></font></font></a>
                </div>
              
              </div>
            </div>
          </div>

          <div class=" content">
            <div class="card mb-3">
              <img class="img-projetos" src="assets/gifs/xtrala.gif" style="width: 59vw;height: 21vw;" alt="">
              <div class="card-body">
                <h5 class="card-title"><b>Xtrala</b></h5>
                <p class="card-text">💡 O Xtrala é uma plataforma que foi criado para aproximar os fãs de seus idolos através de videos. Onde o fã paga uma quantia e recebe em troca um video do seu idolo dando um 'salve'. Com participações de Anita(Cantora), Marilia (Desimpedidos), Gerson Campos (Acelerados), Eduardo Surita (Musico) </p>
                <p class="card-text"><small class="text-muted">Projeto profissional <a href="https://www.nwb.com.br">NWB</a></small></p>
                
                <div id="btn" class="btn-group" style="margin-left: 3%;">
                
                  <a  class="btn-projetos" target="_blank" href="https://xtrala.com" id="btn-light" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img style="padding: 0.5rem; width: 50%;" src="assets/image/global.png" alt="Site"></font></font></a>
                </div>
             
              </div>
            </div>
          </div>

          
          <div class="content">
            <div class="card mb-3">
              <img class="img-projetos" src="assets/gifs/proffy.gif" style="width: 59vw;height: 21vw;" alt="">
              <div class="card-body">
                <h5 class="card-title"><b>Proffy</b></h5>
                <p class="card-text">
                  💡O Proffy é uma plataforma que visa facilitar a conexão entre alunos e professores, dando a possibilidade dos professores cadastrarem suas aulas especificando a matéria, horários, dias. Os alunos podem pesquisar as aulas e entrar em contato com os professores facilmente</p>
                <p class="card-text"><small class="text-muted">Projeto Pessoal</small></p>
                
                <div id="btn" class="btn-group" style="margin-left: 3%;">
                  <a class="btn-projetos" target="_blank" href="https://github.com/Gabriel52/Proffy" id="btn-night" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img style="padding: 0.5rem; width: 50%;" src="assets/image/github.png" alt="Git"></font></font></a>
                  <a class="btn-projetos" target="_blank" href="https://stupefied-turing-6a35f2.netlify.app/" id="btn-light" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img style="padding: 0.5rem; width: 50%;" src="assets/image/global.png" alt="Site"></font></font></a>
                </div>
             
              </div>
            </div>
          </div>
          <div id="iten-ocult" class="btn-group" style="margin-left: 3%; opacity: 0;">
            <a class="btn-projetos" target="_blank" href="https://github.com/Gabriel52/Proffy" id="btn-night" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img style="padding: 0.5rem; width: 50%;" src="assets/image/github.png" alt="Git"></font></font></a>
            <a class="btn-projetos" target="_blank" href="https://stupefied-turing-6a35f2.netlify.app/" id="btn-light" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img style="padding: 0.5rem; width: 50%;" src="assets/image/global.png" alt="Site"></font></font></a>
          </div>
    
      </section>
    </div>

    <!-- CONTATO -->
    <div class="titles" id="contato" >
      <h1 class="title-main" >Contato</h1>
    </div>
    <form method="POST" action="/sendEmail">
      <article>
          <div class="card-agradecimentos">
              <img class="mandalorian" src="assets/image/gmail.png" alt="Gmail">
              <p class="subtitle">Obrigado pela visita!</p>
              <p class="texto-agradecimentos">
                  
              </p>
          </div>
      </article>

      <div class="card-contact">
          <label for="email">E-mail</label>
          <input id="email" class="form-control" name="email" type="email" placeholder="Digite seu e-mail aqui..." required="">

          <label for="message">Mensagem</label>
          <textarea id="message" class="form-control" name="mensagem" type="text" placeholder="Digite sua mensagem aqui..." cols="30" rows="10" required=""></textarea>
      
          <input id="btnMessage" class="btn-submit enviar form-control" type="submit" value="Enviar">

      </div>

    </form>
    </main>
    <footer>
      <div class="redes-sociais">
        <a target="_blank" href="https://github.com/Gabriel52"><img src="assets/image/github.png" alt=""></a>
        <a target="_blank" href="https://drive.google.com/file/d/1NQznVW3o2ou1Q0GEr8SzZ61tT2pGx01q/view"><img src="assets/image/cv.png" alt=""></a>
        <a target="_blank" href="https://www.linkedin.com/in/gabriel-brune-dos-santos-032b9717a/"><img src="assets/image/linkedin.png" alt=""></a>
        
      </div>
      <h5> &copy;Este site foi desenvoldido por Gabriel Brune</h5>
      <h4 style="opacity: 0;"> &copy;Este site foi desenvoldido por Gabriel Brune</h4>

    </footer>
    


</body>

<%- include('partials/footer.ejs') %>


