*{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* NAV BAR */
nav{
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

nav .img{
    width: 20%;
}

.nav-link{ 
    color:black !important;
}
.nav-link:hover{ 
    color: #66c3d0 !important;
    transition: 0.5s;
}

.navbar-toggler{
    border: 1px solid white !important ;
    transition: 0.5s;
}



/* Whatsapp */

.whatsapp{
    position: fixed;
    z-index: 1;
    bottom: 5%;
    right: 4%;
}


@media (max-width: 600px){
    .whatsapp{
        width: 12%;
    }
}

/* SPAN */

@media (max-width: 600px)
{
    .collapse ul{
        display: block !important;
        text-align: center !important;
        margin-left: 1% !important;
    }
    .navbar-brand img{
        width: 100% !important;
    
    }
    .navbar-brand{
        width: 10% !important;
    }
    span img{            
        width: 30px;
        margin-left: -8px;
    }
    .navbar-toggler{
        width: 12%;
        margin-left: -15%;
    }
}

/* Profile */
.profile{
    margin-left: auto;
    width: 80%;
    margin-top: 10%;
    display: flex;
}

.profile-text p{
    font-size: 25px;
    width: 530px;
    
}

.title{
    display: flex;
}

.title-name{
    font-size: 40px;
   
}
.btns {
    margin-top: 40px;
}

.efeito{
    border: none;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1{
    background-color: #66c3d0;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}
.efeito-1:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 2s ease;
}

.efeito-1:hover:before{
    width: 100%;
}

.profile-img{
    margin-left: 14vw;
}

.profile-img img{
    border-radius: 50%;
    width: 60%;
}

.profile-img .icons-profile{
    display: flex;
  
}
.profile-img .icons-profile img{
    width: 22%;
   
}

#mobile{
    display: none;
}

@media (max-width: 600px){
    #desktop{
        display: none;
    }
    #mobile{
        display: block;
        margin-left: 14%;
    }
    .efeito-1{
        margin-right: 18%;
    }
    .profile-text{
        text-align: center;
    }    
    .profile-text p{
        font-size: 25px;
        width: 320px;
    }
    .profile-img{
        margin-left: 14% !important;
    }   
    .logonav{
        width: 45% !important;
    }
    .profile-text p {
        margin-left: 7%;
    }
}

@media (max-width: 500px){
    #desktop{
        display: none;
    }
    #mobile{
        display: block;
        margin-left: 0 !important;
    }
    .efeito-1{
        margin-right: 0 !important;
    }
    .profile-text{
        text-align: center;
    }    
    .profile-text p{
        font-size: 25px;
        width: 320px;
    }
    .profile-img{
        margin-left: 14%;
    }   
    .logonav{
        width: 45% !important;
    }
    .profile-text p {
        margin-left: 7%;
    }
}



/* ///////////////////////// */

/*         Sobre mim         */

/* ///////////////////////// */

.cabecalho h1, section h1{
    color: white;
    font-size: max(60px, 4vw);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.cabecalho h1{
    border: 5px solid white;
    padding: 10px 50px;
    margin: 50px;
    margin-top: -80px
}

.cabecalho, section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.jumbotron{
    background-color: white!important;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
}

section{
    background-color: #66c3d0;
    height: 50vh;
}
.cabecalho{
    margin-top: 10%;
    background: #024b61;
    position: relative;
}
.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
      transform: translateX(-2000px);
    }
}

  .wave-2 {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
  }

  @keyframes moveWave2 {
    from {
      transform: translateX(-1800px);
    }
  }

  .wave-3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
  }

  @keyframes moveWave3 {
    from {
      transform: translateX(-1600px);
    }
  }

  @media (max-width: 600px){
    .cabecalho, section{
        
        height: 70vh;
    }
  }


  
/* ///////////////////////// */

/*        Habilidaedes       */

/* ///////////////////////// */

.title-main{   
    color: black;
    font-size: max(40px, 3vw);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border: 5px solid black;
    padding: 10px 50px;
    margin: 50px;
}

.titles{
    width: 35%;
    margin: 0 auto;
}

.bg-white{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
@media (max-width: 600px){
    .title-main{
        font-size: 35px;
    }
    .titles{
        width: 100%;
    }
}
/* ///////////////////////// */

/*        Projetos           */

/* ///////////////////////// */
.card{
    margin: 0 auto;
    width: 60%;
}
#projetos{
    height: 110% !important;  
}

.btn-projetos:hover{
    transition: 1s;
    background-color:#66c3d0;
     
}
@media (max-width: 600px){
    .img-projetos{
        height: 45vw !important;
        width: 89vw !important;
    }
    .mb-3{
        width: 90%;
    }

  }

@media (max-width: 380px){
    .title-main{
        font-size: 30px;
    }
}


/* ///////////////////////// */

/*        Contato            */

/* ///////////////////////// */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;

}
form .card-agradecimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 275px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    background-color: lightgray
    
}

form .card-agradecimentos .mandalorian {
    width: 90px;
}

form .card-agradecimentos .subtitle {
    font-weight: bold;
    margin-bottom: 10px;
}

form .card-agradecimentos .texto-agradecimentos {
    padding: 0px 15px;
  }


  form .card-contact {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
  }

  .btn-submit{
      margin-top: 5%;
      transition: 0.5s !important;
     
  }

.enviar:hover{
      background-color: #3ed864;
      color: white;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.redes-sociais img{
    margin-left: 2%;
    width: 3%;
}
@media (max-width: 600px){
    form{
        display: block;
    }
    form .card-agradecimentos{
        margin: 0 auto;
    }
    form .card-contact{
        margin: 0 auto;
        width: 90%;
    }
    .redes-sociais img{
        margin-left: 2%;
        width: 55% !important;
    }
}
footer{
    background-color:#024b61 ;
}
footer .redes-sociais{
    padding: 20px;
  
}
footer h5{
    color: #ffffff;
    text-align: center;
}

/* Responsividade */
